body {
    color:navy;
    background-color:silver;
    font-family:sans-serif;
    border-style:solid;
    border-color:silver;
    border-width:10
}

h2 {
    color:maroon
}

a {
    color:blue
}

a:hover {
    background-color:yellow;
}
