:root {
  --main-bg-color: silver;
}


body {
    color:navy;
    background-color:var(--main-bg-color);
    font-family:sans-serif;
    border-style:solid;
    border-color:var(--main-bg-color);
    border-width:10
}

h2 {
    color:maroon
}

a {
    color:blue
}

a:hover {
    background-color:yellow;
}

input, button,textarea {
    background-color:var(--main-bg-color);
}